.TwitterSetupWidget fieldset
{
    border: solid 1px #666;
    padding : 5px;
}

.TwitterSetupWidget legend
{
    font-weight :bold;
    padding : 4px;
}

.TwitterSetupOptionalContent
{
}

.TwitterSetupLabel
{
    width: 180px;
    display: block;
    float: left;
    clear: both;
}

.TwitterSetupError
{
    color: Red;
}

.TwitterOptional
{
    font-style: italic;
    padding-left:  10px;
    padding-bottom: 10px;
}

.TwitterRounded
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.TwitterWidget
{
}

.TwitterWhiteContainer
{
    padding : 5px;
    background-color: #FFFFFF;
}


.TwitterTitle
{
    background-color: #F7F7F7;
    border: solid thin white;
    padding: 10px;
    clear: both;
    margin: 5px;
    padding: 10px 15px 10px 0;
}

.TwitterTitle img
{
    display: inline;
    margin: 0px 0px 0px 5px;
    vertical-align:text-bottom;
}
.TwitterTitle a, .TwitterTitle a:visited, .TwitterTitle a:hover
{
    text-decoration: none;
    border: none;
}

.TwitterTitleName, .TwitterTitleName:hover, .TwitterTitleName:visited
{
    vertical-align:text-bottom;
    font-size: 2.8em;
    border: none;
    text-decoration: none;
    color: #000000;
    font-family: 'Helvetica' ,sans-serif;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

.TwitterTitleNameSince
{
    margin: 0px 0px 0px 15px;
    font-size: 8pt;
}

.TwitterStatuses
{
    background-color: #FFFFFF;
}

.TwitterStatus
{
    word-wrap: break-word;
    padding: 5px;
    border-bottom: dotted thin #CCC;
    clear: both;
    color: #663B12;
}
.TwitterStatus:hover
{
    background-color: #F7F7F7;
}


.TwitterStatusText
{
    padding: 5px;
}
.TwitterStatusFooter, .TwitterStatusFooter a:visited, .TwitterStatusFooter a
{
    color: #999999;
    font-size: 11px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.TwitterStatusFooter a:hover
{
    text-decoration: underline;
}

.TwitterStatusTime
{
}

.TwitterStatusSource
{
}

.TwitterInResponseTo
{
}
.TwitterStatusTag a, .TwitterStatusLink a, .TwitterStatusTag a:visited, .TwitterStatusLink a:visited, .TwitterStatusMention a, .TwitterStatusMention a, .TwitterStatusMention a:visited, .TwitterStatusMention a:visited
{
    color: #1F98C7;
    text-decoration: none;
}
.TwitterStatusTag a:hover, .TwitterStatusLink a:hover, .TwitterStatusMention a:hover, .TwitterStatusMention a:hover
{
    text-decoration: underline;
}

.TwitterBottomInfo
{
    display: block;
    text-align: center;
    padding: 0px 10px 0px 30px;
    clear: both;
    margin: 5px;
    background-color: #DAECF4;
    height: 45px;
    text-decoration: none;
}



.TwitterBottomLabel
{
    clear: both;
    color: #1F98C7;
}
.TwitterBottomLabel:hover
{
    text-decoration: underline;
}

.TwitterBottomNumber
{
    text-decoration: none;
    text-align: left;
    color: #663B12;
    display: block;
}
.TwitterMainContainer
{
    padding: 5px;
}

.TwitterBottomInfoItem a, .TwitterBottomInfoItem a:visited, .TwitterBottomInfoItem a:hover
{
    text-decoration: none;
}
.TwitterBottomInfoItem
{
    text-decoration: none;
    margin: 5px;
    display: block;
    float: left;
}
.TwitterMoreButton
{
    background-color: #FFFFFF; /*background-image:url(http://s.twimg.com/a/1258674567/images/more.gif);*/
    background-image: url('../../img/default/twittermore.gif');
    background-position: lefttop;
    background-repeat: repeat-x;
    border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    line-height: 1.5em;
    margin: 6px 6px 10px 6px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 93%;
}

.TwitterMoreButtonLoading
{
    background-image: none !important;
    border-style: none !important;
    border-width: 0px !important;
}

.TwitterMoreButtonImage
{
    display: none;
}

.TwitterMoreButtonLoading .TwitterMoreButtonImage
{
    display: block;
}

.TwitterMoreButtonLoading .TwitterMoreButtonText
{
    display: none;
}

.TwitterMoreButton:hover
{
    background-position: left -78px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
}
.TwitterMoreButtonText
{
    margin: 6px;
    padding: 6px;
    color: #1F98C7;
    font-family: 'Lucida Grande' ,sans-serif;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
}
.TwitterMoreButtonImage
{
    display: none;
}
