.TwitterSetupLabel
{
	width: 180px;
	display: block;
	float: left;
	clear: both;
}

.TwitterSetupError
{
	color: Red;
}

.TwitterOptional
{
	font-style : italic;
	padding-bottom : 10px;
}

.TwitterRounded
{
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.TwitterWidget
{
}


.TwitterTitle
{
	background-color: #F7F7F7;
	border: solid thin white;
	padding: 10px;
	clear: both;
	margin: 5px;
	font-size: 2.8em;
	line-height: 50px;
	padding: 10px 15px 10px 0;
}

.TwitterTitle img
{
	display: inline;
	margin: 5px;
}
.TwitterTitle a, .TwitterTitle a:visited, .TwitterTitle a:hover
{
	border: none;
	display: inline;
	float: left;
}

.TwitterTitleName
{
	clear: both;
	color: #000000;
	font-family: 'Helvetica' ,sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

.TwitterStatuses
{
}

.TwitterStatus
{
	padding: 5px;
	border-bottom: dotted thin #CCC;
	clear: both;
	color: #663B12;
}
.TwitterStatus:hover
{
	background-color: #F7F7F7;
}


.TwitterStatusText
{
	padding: 5px;
}
.TwitterStatusFooter, .TwitterStatusFooter a:visited, .TwitterStatusFooter a
{
	color: #999999;
	font-size: 11px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.TwitterStatusFooter a:hover
{
	text-decoration: underline;
}

.TwitterStatusTime
{
}

.TwitterStatusSource
{
}

.TwitterInResponseTo
{
}
.TwitterStatusTag a, .TwitterStatusLink a, .TwitterStatusTag a:visited, .TwitterStatusLink a:visited , .TwitterStatusMention a, .TwitterStatusMention a, .TwitterStatusMention a:visited, .TwitterStatusMention a:visited
{
	color: #1F98C7;
	text-decoration : none;
}
.TwitterStatusTag a:hover, .TwitterStatusLink a:hover , .TwitterStatusMention a:hover, .TwitterStatusMention a:hover 
{
	text-decoration : underline;
}

.TwitterBottomInfo
{
	display: block;
	text-align: center;
	padding: 0px 10px 0px 30px;
	clear: both;
	margin: 5px;
	background-color: #DAECF4;
	height: 45px;
	text-decoration : none;
}



.TwitterBottomLabel
{
	clear: both;
	color: #1F98C7;
}
.TwitterBottomLabel:hover
{
	text-decoration : underline;
}

.TwitterBottomNumber
{
	text-decoration : none;
	text-align: left;
	color: #663B12;
	display: block;
}

.TwitterBottomInfoItem a, .TwitterBottomInfoItem a:visited , .TwitterBottomInfoItem a:hover 
{
	text-decoration : none;
}
.TwitterBottomInfoItem
{
	text-decoration : none;
	margin: 5px;
	display: block;
	float: left;
}
